<div class="containa">
<div class="col-xs-3">
	<%= render 'layouts/userInfo', book: @book %>
</div>


<div class="col-xs-9">
	<h2> Users</h2>

	<table class="table">
		<thead>
			<tr>
				<th class="col-xs-1"></th>
				<th class="col-xs-3"> Image</th>
				<th> name</th>
			</tr>
		</thead>

		<tbody>
			<% @users.each do |user| %>
			<tr>
				<% if user.image_id.nil? %>
				<td>
					<%= image_tag('no_image.jpg', style:"width:100px; height:100px;") %>
				</td>
				<% else %>
				<td>
					<%= attachment_image_tag user, :image, :fill,100, 100 %>
				</td>
				<% end %>
				<td><%= user.name %></td>
				<td><%= link_to 'show', user_path(user.id) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
</div>